<h1>Landmark!</h1>


<ul>
  {{#each landmark}}
</ul>


<h2> Sumbit a Review </h2>
<form class="create-form">

<div class = "form-group">
  <label for = "auth"> Author:</label>
  <input Type = "text" id= "auth" name = "author">
</div>

<div class = "form-group">
  <label for ="land"> Landmark:</label>
  <input Type = "text" id= "land" name = "Landmark">
</div>

<div class = "form-group">
  <label for = "quo"> Quote: </label>
  <textarea id = "quo" name ="quote" row ="8" cols = "40"></textarea>
</div>

<button type="submit">Submit</button>

</form>